<dag-nav-bar title="Contacts"></dag-nav-bar>
<div class="content">
    <div class="contacts">
        <div class="contacts_search_bar">
            <input type="text" ng-model="searh">
            <button class="contacts_add_new">+</button>
        </div>

        <div class="contacts_list">
            <h4>R</h4>
            <ul>
                <li class="contacts_list_contact">
                    <div class="contacts_list_contact_full_name">Roman Shabanov</div>
                    <div class="contacts_list_contact_address">QPBJTTP56THY6RSSK7UX5WJ5F5NRFTA3</div>
                </li>
                <li class="contacts_list_contact">
                    <div class="contacts_list_contact_full_name">Roman Shabanov</div>
                    <div class="contacts_list_contact_address">QPBJTTP56THY6RSSK7UX5WJ5F5NRFTA3</div>
                </li>
            </ul>
            <h4>Y</h4>
            <ul>
                <li class="contacts_list_contact">
                    <div class="contacts_list_contact_full_name">Yary Ribero</div>
                    <div class="contacts_list_contact_address">QPBJTTP56THY6RSSK7UX5WJ5F5NRFTA3</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="extra-margin-bottom"></div>
<dag-bottom-bar></dag-bottom-bar>