<dag-nav-bar title="Advanced" go-back invert></dag-nav-bar>

<div class="content preferences" ng-controller="preferencesAdvancedController as preferences">

  <ul>
    <li dag-right-icon="chevron-thin-right"  ng-click="$root.go('information')">
      <div translate>Wallet Information</div>
    </li>

    <!--<li ng-show="index.network == 'livenet'" class="text-capitalize" ng-click="$root.go('paperWallet')">-->
      <!--<i class="icon-arrow-right3 size-24 right text-gray"></i>  -->
      <!--<div translate>Sweep paper wallet</div>-->
    <!--</li>-->
 
    <!-- was not adapted from copay
    <li  ng-click="$root.go('export')">
      <i class="icon-arrow-right3 size-24 right text-gray"></i>  
      <div translate>Export Wallet</div>
    </li>
    -->
 
    <li ui-sref="preferencesDeleteWallet" style="text-decoration: underline; text-align: center; background: transparent;border-bottom: none; margin-top: 10px; color: #e51e25;">
      <div translate>Delete Wallet</div>
    </li>
  </ul>
</div>
<div class="extra-margin-bottom"></div>

