<dag-nav-bar state-title="Receive Dagcoins"></dag-nav-bar>

<div ng-controller="receiveController as home">

    <div class="oh" ng-show="!index.noFocusedWallet">

        <div id="receive" class="receive p-share content scrollable" style="padding-bottom: 0">
            <div ng-show="index.needsBackup" class="p60t row text-center">
                <div class="large-12 columns">
                    <div class="text-warning text-bold m15b">
                        <i class="fi-alert"></i>
                        <span translate>
              WARNING: Backup needed
            </span>
                    </div>
                    <div class="text-gray" translate>
                        Before receiving funds, it is highly recommended you backup your wallet keys.
                    </div>

                    <button class="m20t button black expand round"
                            ng-click="$root.go('backup')" ng-style="{'background-color':index.backgroundColor}">
                        <span translate>Backup now</span>
                    </button>
                </div>
            </div>
            <div class="p-wrap text-center" ng-show="!index.needsBackup">

                <h2 style="padding: 0 20px;font-weight: 400;font-size: 14px;">Tap to copy this address.<br/>Share it with the sender via email or text.</h2>

                <div class="page-qr text-center" style="margin-top: 20px;">
                    <div class="box-notification" ng-show="home.addrError">
                <span class="text-warning">
                  {{home.addrError|translate}}
                </span>
                    </div>

                    <div class="qr_code" ng-click="home.copyAddress(home.addr[index.walletId])"
                         ng-show="home.addr[index.walletId] || home.generatingAddress">
                        <qrcode size="220" data="{{home.protocol}}:{{home.addr[index.walletId]}}"></qrcode>
                        <div ng-show="home.generatingAddress" style="position:relative; top:-226px; height:0">
                            <div style="height:220px; width:220px; margin:auto; background: url(img/qr.png) white"></div>
                        </div>
                        <div class="m10t" ng-hide>
                            <h4 ng-class="{'enable_text_select': !index.isCordova}" class="size-12">
                                {{index.shared_address || (home.generatingAddress ? '...' : home.addr[index.walletId])}}

                            </h4>
                        </div>

                        <div ng-class="{'visible': tooltipCopiedShown}" class="tooltip radius tip-top"><svg-icon name="done"></svg-icon>Copied!</div>
                    </div>
                </div>
                <div class="page-action" style="margin-top: 30px;">
                    <a ng-if="!index.shared_address" class="btn btn_red-full" ng-click="home.setAddress(true)"
                       ng-disabled="home.blockUx || index.isOffline ||home.generatingAddress" translate>
                        Generate new address
                    </a>
                    <a ng-show="index.isCordova" ng-click="home.shareAddress(home.addr[index.walletId])"
                       class="btn btn_red-full">Share wallet link</a>
                    <div ng-show="index.isCordova" class="page-action__info">
                        <span>Share the link above to receive payments.</span></div>

                </div>

            </div>
        </div>

    </div>
</div>
<div class="extra-margin-bottom"></div>
<dag-bottom-bar></dag-bottom-bar>