@import "../../../css/variables";

.tooltip{
  @extend .transition;
  display: block !important;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  top: 50%;
  margin-top: -22px;
  opacity: 0;

  svg-icon{
    margin-right: 5px;

    svg{
      width: 20px;
      height: 20px;
    }
  }

  &.visible{
    opacity: 1;
  }
}

.qr_code{
  position: relative;
}