button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  font-weight: 600;
  padding: 15px;
  max-width: 300px;
  width: 100%;
  border: 2px solid transparent;
  background-color: transparent;
  color: inherit;
  transition: color ease 0.3s;
  font-size: 16px;
  letter-spacing: 0.3px;
  overflow: hidden;
  position: relative;
  text-decoration: none;

  & + .btn {
    margin-top: 13px;
  }

  &.btn_red {
    border-color: $main_color;
    background: #fff;
    color: $main_color;

    &:hover {
      color: $main_color;
    }
  }

  &.btn_red-full {
    color: #fff;
    @include gradientBackground($main_color, darken($main_color, 10), left, right);
    text-shadow: 1px 1px 0 darken($main_color, 10);
    border: 2px solid;

    &:hover {
      color: #fff;
      @include gradientBackground(darken($main_color, 2), darken($main_color, 12), left, right);
    }
  }
}

body:not(.no_animation){
  .btn{
    &:after, &:before{
      @extend .transition;
      content: "";
      position: absolute;
      top: 0;
      width: 40px;
      height: 100%;
      opacity: 0.15;
      right: -100px;
      @include gradientBackground(#fff, darken(#fff, 10), left, right);
      transform: skewX(30deg);
    }

    &:before{
      margin-left: 30px;
    }

    &:hover {
      outline: none;

      &:after, &:before{
        right: 110%;
      }
    }
  }
}