<nav class="sidebar left-off-canvas-menu" ng-controller="sidebarController as sidebar">
    <div style="position: relative;height: 80px;"></div>
    <h4>Account</h4>
    <ul class="list">
        <li>
            <a ui-sref-active="active" ui-sref="walletHome">
                <svg-icon name="credit-card2"></svg-icon>
                <span>Accounts</span>
            </a>
        </li>
        <li>
            <a ui-sref-active="active" ui-sref="send">
                <svg-icon name="align-top"></svg-icon>
                <span>Send</span>
            </a>
        </li>
        <li>
            <a ui-sref-active="active" ui-sref="receive">
                <svg-icon name="align-bottom"></svg-icon>
                <span>Receive</span>
            </a>
        </li>
    </ul>

    <h4>More</h4>
    <ul class="list">
        <li>
            <a ui-sref-active="active" ui-sref="settings">
                <svg-icon name="cog"></svg-icon>
                <span>Settings</span>
            </a>
        </li>
    </ul>
    <dag-exchange-rate-view></dag-exchange-rate-view>
</nav>
