@import "../../../css/variables";

.send{

  .content{
    padding-top: 0;
    top: 130px;
  }

  .content_hero{
    padding: 20px 30px;
  }

  .send_available_balance{
    color: #fff;
    text-shadow: 1px 1px 1px darken($main_color, 10);


    .send_available_balance_title{
      opacity: 0.6;
      font-size: 12px;
    }

    >div{
      margin-top: 5px;
      font-size: 22px;
      font-weight: 700;
    }

    svg{
      fill: #fff;
      position: relative;
      top: -1px;
      height: 16px;
      width: 16px;
    }
  }

  #qr-scanner{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: #eee;
    width: 50px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

    svg-icon{
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -15px;
      margin-top: -14px;

      svg{
        width: 26px;
        height: 26px;
        fill: #666;
      }
    }
  }

  .input_receiver{
    input{
      padding-right: 50px;
    }
  }
}

.receiverModal{
  padding: 20px;

  #receiverModalInput{
    position: relative;
    top: -30px;
    opacity: 0;
    width: 100%;

    label{
      color: #fff;
      padding: 0;
      margin: 0;
      width: 100%;
    }

    input{
      color: #fff;
      background: transparent;
      outline: none;
      border: 2px solid #fff;
      margin: 0;
      width: 100%;
      font-weight: 400;
    }
  }

  #receiverQuickAccess{
    position: relative;
    top: -30px;
    opacity: 0;
    width: 100%;
    margin-top: 20px;

    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;

      li{
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        border-bottom: 1px solid rgba(250,250,250,0.4);
        padding: 5px 0;
        cursor: pointer;

        &:hover{
          background: rgba(250,250,250,0.1);
        }
      }
    }
  }

  .ngdialog-content{
    background: transparent;
    position: absolute;
    z-index: 12;
    width: 100%;
    padding-top: 50px;
  }

  .ngdialog-overlay{
    background: rgba(0,0,0,0.9);
  }

  .ngdialog-close{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;

    &:hover{
      background: transparent;
    }
  }
}