<nav class="sidebar left-off-canvas-menu">
    <div class="sidebar_profile">
        <div class="sidebar_profile_title">Roman.mac.machine</div>
    </div>
    <div ng-repeat="list in ::lists">
        <ul class="list">
            <li ng-repeat="link in ::list.links">
                <a ui-sref-active="active" ui-sref="{{::link.state}}">
                    <svg-icon name="{{::link.icon}}"></svg-icon>
                    <span>{{::link.title}}</span>
                </a>
            </li>
        </ul>
    </div>

    <dag-exchange-rate-view></dag-exchange-rate-view>
</nav>
