@import "../../../css/variables";

.walletHome {

  .transactions {
    height: 2000px;
  }

  .tabbable{
    border: none;

    >.tabs{
      display: flex;
      border-bottom: 1px solid #ddd;

      >dd{
        flex: 1;
        float: none;

        >a{
          height: auto;
          padding: 0;
          line-height: 50px;
          background: #fff;
          color: #666;
          font-weight: 600;
        }

        &.active{
          >a{
            color: #000;
            border-bottom: 2px solid $main_color;
          }
        }
      }
    }
  }

  /* stylelint-disable */
  .cards_swiper {

    .swiper-pagination-bullet{
      @extend .transition;
      background: #fff;
      border-radius: 4px;

      &.swiper-pagination-bullet-active{
        width: 16px;
      }
    }

    .swiper-container {
      width: 100%;
      margin: 20px 0;
      padding-bottom: 40px;

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        width: 90% !important;

        >div{
          background: #fff;
          color: #333;
          height: 100px;
          width: 80%;
          left: 10%;
          position: relative;
          text-shadow: none;
          box-shadow: -1px 15px 30px -12px rgba(0, 0, 0, 0.65);
          border-radius: 10px;
        }

        &.swiper-slide-next, &.swiper-slide-prev{
          opacity: 0.5;
        }
      }
    }
  }
  /* stylelint-enable */

}